@import "bootstrap/bootstrap.scss";
@import "includes/dathumbs.scss";
@import "navaside.scss";
@import "includes/mymodal.scss";
@import "includes/misc.scss";
@import "includes/direction.scss";
@import "includes/dropzone.scss";
@import "includes/tags.scss";
@import "includes/pageslider.scss";
@import "individual/individual-content.scss";
@import "individual/photoalbum.scss";
@import "fonts/icomoon.scss";
@import "fonts/fontello.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body, html {
  height: 100%;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.notFullWidth {
  display:none;
}

.navHeight{
  height: 52px;
}

.imitateLink {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#background-holder{
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: -1;
  bottom: 0px;
  height: 314px;
}

#mainContent{
  padding-top: 52px;
  height: 100%;
}

.parallax-viewport {
  position: relative;     /* relative, absolute, fixed */
  overflow: hidden;
  width: 100%;
  height: 314px;
}
.parallax-layer {
  position: absolute;
}

.jumbotron{
  font-family: 'Roboto Slab', serif;
  background: #DAD7CD;
  margin: 40px;
  border-radius: 10px;
  border: 2px solid rgb(133, 127, 90);
  text-align: center;
  /*box-shadow: 0 0 35px 15px rgba(35,35,35,.3);*/
}
.jumbotron h1{
  margin-top: 10px;
}

#parallax {
  height: 100%;
}

/*.datepicker button {
  padding:5px 5px;
}

*/

/***********************************************************************************/
/* This pair is very useful for full width text that has no-wraping ellipsis when too long*/
.overflow-pair-left{
  display: block;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.overflow-pair-left:after {
 content: " .................................................................................." 
}

.overflow-pair-right{
  float: right;
  display: inline-block;
}



.datepicker.dropdown-menu {
  width: 250px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 &.datepicker-mode-0, {
    tbody button {
      height: 40px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

/*Fix for IE scrollbar...*/
@-ms-viewport{ width: auto !important; }

@media only screen and (min-width: 768px){
  #navRightButton{
    display: none;
  }
  .notAlmostFullWidth{
    display: none ;
  }

}

@media only screen and (max-width: 767px) {
  #bs-example-navbar-collapse-1 {
    max-width: 100%;
  }

  #globalNavDiv{
    margin-bottom: -5px;
  }
  .almostFullWidth{
    display: none ;
  }
  .notAlmostFullWidth{
    display: inherit ;
  }
  .navRight {
    float: none !important;
    margin-left: 0px !important;
  }
  .navbar-form {
    float: left;
    display: inline-block;
    padding: 8px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  }
  .navbar-form .form-group {
    margin-bottom: 0px;
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbarCenter {
    padding-right: 60px;
  }
  .navbar-header{
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px;
    padding-left: 77px;
  }
  .navbar-brand{
    margin-top: 0px;
  }
  #logo {
    margin-top: -2px !important;
  }
  .ng-indData {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media only screen and (max-width: 479px) {
  .fullWidth{
    display:none;
  }
  .notFullWidth {
    display:inherit;
  }
}
