/*$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";*/
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import "navaside.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body, html {
  height: 100%;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.notFullWidth {
  display:none;
}


@media screen and (max-width: 767px) {
  .navRight {
    float: none !important;
    margin-left: 0px !important;
  }
  .navbar-form {
    display: inline-block;
    padding: 8px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  }
  .navbar-form .form-group {
    margin-bottom: 0px;
  }
  .navbar-brand {
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbarCenter {
    padding-right: 60px;
  }
  .navbar-header{
    clear:both;
    float: right;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px;
    padding-left: 77px;
  }
}
@media screen and (max-width: 479px) {
  .fullWidth{
    display:none;
  }
  .notFullWidth {
    display:inherit;
  }
}
