<div ng-controller="AuthLoginCtrl" style="text-align: center">
  <div style='width: 100%; color: red;'>
    <span ng-show="error">Your username or password was incorrect!</span>
  </div>
  <form role="form" ng-submit="submitLogin()">
    <div class="form-group" style="display: inline-block;">
      <label style="display: block;">
        <span style="width: 75px; display: inline-block; text-align:right;">
          Username:&nbsp;
        </span>
        <input class="form-control" style="width: auto; display:inline-block;" type="text" ng-model="username" placeholder="Username" required autofocus/>
      </label>
      <label style="display: block;">
        <span style="width: 75px; display: inline-block; text-align:right;">
          Password:&nbsp;
        </span>
        <input class="form-control" style="width: auto; display:inline-block;" type="password" ng-model="password" placeholder="Password" required/>
      </label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
  </form>
</div>
