<div ind-data left="openFam" right="openInd" watch="data">
  <div style="position: relative;">
    <div class="asside left"><h3 class="left">Individual Data</h3></div>
    <button class="asside btn left btn-primary" ng-click="openInd = true;"><i class="fa fa-arrow-right" style="position: relative; right: -10px;"></i></button>
    <div class="asside right"><h3 class="right">Family Data</h3></div>
    <button class="asside btn right btn-primary" ng-click="openFam = true;"><i class="fa fa-arrow-left" style="position: relative; left: -10px;"></i></button>
    <div breadcrumbs ng-model="links"></div>
    <div style="padding: 0px 30px 0px 30px;">
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>
    </div>
  </div>
</div>
<div pageslide="right" ps-open="openFam" ps-other="openInd" ps-custom-top="52px" ps-custom-height="calc(100% - 52px)" ps-size="300" data="data">
  <div class="ng-pageslide-content">
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>
  </div>
</div>
<div pageslide="left" ps-open="openInd" ps-other="openFam" ps-custom-top="52px" ps-custom-height="calc(100% - 52px)" data="data">
  <div class="ng-pageslide-content">
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>
  </div>
</div>

