<div ind-data left="openFam" right="openInd" >
  <div style="position: relative;">
    <div class="asside" style="position: fixed; top: calc(50% - 130px); width: 45px; height: 165px; border-radius: 25px; left: -25px; border: 1px solid gray;"><h3 style="-webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); position: absolute; top: -2px; left: 41px; width: 150px; font-size:16px;">Individual Data</h3></div>
    <button class="btn-primary" style="position: fixed; top: 50%; width: 50px; height: 50px; border-radius: 25px; left: -25px; border: 1px solid gray;" ng-click="openInd = true;"><i class="fa fa-arrow-right" style="position: relative; right: -10px;"></i></button>
    <div class="asside" style="position: fixed; top: calc(50% - 130px); width: 45px; height: 165px; border-radius: 25px; right: -25px; border: 1px solid gray;"><h3 style="-webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); position: absolute; bottom: 22px; right: -109px; width: 150px; font-size: 16px;">Family Data</h3></div>
    <button class="btn-primary" style="position: fixed; top: 50%; width: 50px; height: 50px; border-radius: 25px; right: -25px; border: 1px solid gray;" ng-click="openFam = true;"><i class="fa fa-arrow-left" style="position: relative; left: -10px;"></i></button>
    <div breadcrumbs ng-model="links"></div>
    <div style="padding: 0px 30px 0px 30px;">
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>  
      <div>            
        <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
        <p>{{data.typeahead}}</p>
        <p>{{data.selectableName}}</p>
      </div>
    </div>
  </div>
</div>
<div pageslide="right" ps-open="openFam" ps-other="openInd" ps-custom-top="52px" ps-custom-height="calc(100% - 52px)" ps-size="300">
  <div class="ng-pageslide-content">
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>
  </div>
</div>
<div pageslide="left" ps-open="openInd" ps-other="openFam" ps-custom-top="52px" ps-custom-height="calc(100% - 52px)">
  <div class="ng-pageslide-content">
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>  
    <div>            
      <p>{{data.displayableName}} {{data.displayableName}} {{data.displayableName}}</p>
      <p>{{data.typeahead}}</p>
      <p>{{data.selectableName}}</p>
    </div>
  </div>
</div>

