.asside.left{
  position: fixed;
  top: calc(50% - 140px);
  width: 45px;
  height: 175px;
  border-radius: 25px;
  left: -25px;
  border: 1px solid gray;
}

.asside.left.hover{
  position: fixed;
  top: 52px;
  width: 25px;
  left:0px;
  height: calc(100% - 52px);
  border-radius: 0px;
  border: 0px;
  z-index: 5;
}

.asside.right{
  position: fixed;
  top: calc(50% - 140px);
  width: 45px;
  height: 175px;
  border-radius: 25px;
  right: -25px;
  border: 1px solid gray;
}

.asside.right.hover{
  position: fixed;
  top: 52px;
  width: 25px;
  right:0px;
  height: calc(100% - 52px);
  border-radius: 0px;
  border: 0px;
  z-index: 5;
}


.asside h3.left{
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  position: absolute;
  top: -2px;
  left: 41px;
  width: 150px;
  font-size:16px;
}

.asside h3.right{
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: absolute;
  bottom: 22px;
  right: -109px;
  width: 150px;
  font-size: 16px;
}

.asside.btn.left {
  position: fixed;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  left: -25px;
  border: 1px solid gray;
}

.asside.btn.right {
  position: fixed;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  right: -25px;
  border: 1px solid gray;
}