<div id='background-holder' ng-controller='BackgroundCtrl'>
  <div class="parallax-viewport" id="parallax">

    <!-- parallax layers -->
    <div class="parallax-layer" style="height: 314px;">
      <img src="images/family-back2.png" alt="" style="position:absolute; top: 45px; width: 3000px; height: auto; margin-left: -1500px; left: 50%; opacity: .05"/>
    </div>
    <div class="parallax-layer" style="height: 314px;">
      <img src="images/family-back.png" alt="" style="position:absolute; top: 150px; width: 2400px; height: auto; margin-left: -1200px; left: 50%;"/>
    </div>
  </div>
</div>
