<div id='background-holder' ng-controller='BackgroundCtrl'>
  <div class="parallax-viewport" id="parallax">

    <!-- parallax layers -->
    <div class="parallax-layer" style="height: 314px;">
      <img src="images/family-back2.png" alt="" style="position:absolute; top: 0px; width: 3000px; height: auto; margin-left: -1500px; left: 50%; opacity: .04"/>
    </div>
    <div class="parallax-layer" style="height: 314px;">
      <img src="images/family-back.png" alt="" style="position:absolute; top: 83px; width: 3000px; height: auto; margin-left: -1500px; left: 50%;"/>
    </div>
    <!-- <div class="parallax-layer" style="width:920px; height:274px;">
      <img src="images/parallax_sketch/1_mountains.png" alt="" style="left: 50%"/>
    </div>
    <div class="parallax-layer" style="width:1100px; height:284px;">
      <img src="images/family-back.png" alt="" style="position:absolute; width: 70%; height: auto; top:40px; left:50%;" />
    </div>
    <div class="parallax-layer" style="width:1360px; height:320px;">
      <img src="images/family-back.png" alt="" style="position:absolute; top:96px; left:50%;"/>
    </div> -->
  </div>
</div>
