<div class="jumbotron" style="padding-top: 10px; padding-bottom: 20px;">
  <h1>Family History Database</h1>
</div>
<!-- <individual collection="true"></individual> -->
<!-- <button class="btn btn-primary" ng-click="editIndividual()"> <i class="fa fa-user"></i> </button> -->
<div class="letterHolder">
  <span ng-repeat="item in list" style="text-align: center">
    <box params="item" callback="clicked"></box>
  </span>
</div>
<!-- <dropzone config="dropzoneConfig"></dropzone>  -->
<!-- <mass-Dropzone config="dropzoneConfig" templateUrl="views/dropzone/massDropzoneTemplate.html"></mass-Dropzone>  -->