<div ng-controller="IndividualAddindividualCtrl">
  <div class="container-fluid">
    <form name="addAPersonForm" role="form" ng-submit="savePerson()" class="">
      <div class="form-group row">
        <div class="col-sm-6 initial">
          <label for="Name">Name Stuff: </label>
          <input style="width: auto;" class="form-control" ng-model="firstName" id="Name" placeholder="First Name" required/>
          <input style="width: auto;" class="form-control" ng-model="middleName" id="Name" placeholder="Middle Name" />
          <input style="width: auto;" class="form-control" ng-model="lastName" id="Name" placeholder="Last Name" required/>
        </div>
        <div class="col-sm-6 birth">
          <label for="Birth">Birth stuff: </label>

          <date exact="exactBirthDate" ng-model="birthDate" start-view="2" has-error="false" max-date="maxBirth" auto-close="1" place-holder="'Birth Date'">
          </date>

          <place style="display:block;" ng-model="testThis"></place>

        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6 death">
          <label for="Death">Death stuff: </label>

          <date exact="exactDeathDate" ng-model="deathDate" start-view="2" has-error="false" max-date="today" min-date="minDeath" auto-close="1" place-holder="'Death Date'">
          </date>

          <place style="display:block;" ng-model="testThis"></place>

        </div>
        <div class="col-sm-6 burial">
          <label for="Burial">Burial stuff: </label>

          <date exact="exactBurialDate" ng-model="burialDate" start-view="2" has-error="false" max-date="today" min-date="minBurial" auto-close="1" place-holder="'Burial Date'">
          </date>

          <place style="display:block;" ng-model="testThis"></place>

        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-6 parent">
          <label for="Parents">Gender:</label>
          <br>
          <label for="Parents">Male:
            <input type="radio" name="gender" value="Male" style="width: auto;" id="Parents" placeholder="Parents Stuff" />
          </label>
          <label for="Parents">Female:
            <input type="radio" name="gender" value="Female" style="width: auto;" id="Parents" placeholder="Parents Stuff" />
          </label>
        </div>
        <div class="col-sm-6 spouse">
          <label for="Spouse">Relationship to Michele or Marvin Law: </label>
          <input type="text" class="form-control" id="relationship" placeholder="Relationship To Michele or Marvin Law" />
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-6 parent">
          <label for="Parents">Parents:</label>
          <input type="text" id="parents" ng-model="parents" typeahead-on-select='onSelectParent($item, $model, $label)' typeahead="individual as individual.typeahead for individual in getTypeahead($viewValue)" class="form-control" placeholder="Parent">
        </div>
        <div class="col-sm-6 spouse">
          <label for="Spouse">Spouse:</label>
          <input type="text" id="spouse" ng-model="spouse" typeahead-on-select='onSelectSpouse($item, $model, $label)' typeahead="individual as individual.typeahead for individual in getTypeahead($viewValue)" class="form-control" placeholder="Spouse">
        </div>
      </div>
      <button class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
