<individual ng-repeat="member in family.children" person="member" mode="picture"></individual>
<br>
<individual person="person" mode="picture"></individual>
<individual ng-repeat="member in family.spouses" person="member" mode="picture"></individual>
<br>
<individual ng-repeat="member in family.parents" person="member" mode="picture"></individual>
<br>
<individual ng-repeat="member in family.grandParents" person="member" mode="picture"></individual>
<br>
<individual ng-repeat="member in family.greatGrandParents" person="member" mode="picture"></individual>
<br>
<individual ng-repeat="member in family.greatGreatGrandParents" person="member" mode="picture"></individual>
<br>