.dathumbsContainer .imageContainer{
  overflow: hidden;
}

.dathumbsContainer .imageContainer img{
  position: relative;
  left:-150px;
}

.dathumbsContainer .in {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all .2s ease-in-out; /** Firefox **/
  -o-transition: all .2s ease-in-out; /** Opera **/
}

.dathumbsContainer .out {
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out; /** Chrome & Safari **/
  -moz-transition: all .2s ease-out; /** Firefox **/
  -o-transition: all .2s ease-out; /** Opera **/
}

.dathumbsContainer .top.in{
  left:0px;
  right:0px;
  top: 150px;
  bottom: 150px;
  transform: translate3d(0px, -150px, 0px);
}
.dathumbsContainer .top.out {
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;
  transform: translate3d(0px, -150px, 0px);
}
.dathumbsContainer .bottom.in{
  left:0px;
  right:0px;
  top: -150px;
  bottom: -150px;
  transform: translate3d(0px, 150px, 0px);
}
.dathumbsContainer .bottom.out {
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;
  transform: translate3d(0px, 150px, 0px);
}
.dathumbsContainer .left.in{
  left: -150px;
  right: -150px;
  top: 0px;
  bottom: 0px;
  transform: translate3d(150px, 0px, 0px);
}
.dathumbsContainer .left.out {
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;
  transform: translate3d(-150px, 0px, 0px);
}
.dathumbsContainer .right.in{
  left:150px;
  right:150px;
  top:0px;
  bottom:0px;
  transform: translate3d(-150px, 0px, 0px);
}
.dathumbsContainer .right.out {
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;
  transform: translate3d(150px, 0px, 0px);
}