.centerAlert{
  position: fixed;
  opacity: 0;
  width: 600px;
  top: 48%;
  left: 50%;
  margin-top: -100px;
  margin-left: -300px;
}

.alert-customDI2E{
  background-color: rgba(55,69,30,.9);
  border-color: #000000;
  color: #ffffff;
  /*rgba(2,18,51,.9);*/
  /*rgb(31,51,18)*/
  /*color: #ff4800;*/
}

.fixInputCorner{
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.alert-customDI2E .close {
  color: lightgray;
}

.errorOnInput{
  border-color: rgba(224,74,74, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(224,74,74, 0.6) !important;
  outline: 0 none !important;
}

.auth-forms{
  background: white;
  width: 80%;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.auth-content input{
  width: 360px;
  display: inline-block;
}
.auth-content{
  display:inline-block;
  /*text-align: left;*/
}
.auth-content h1{
  color: #5A5A5A;
}
.auth-content .disclaimer{
  margin: 0 auto;
  margin:20px;
  text-align: left;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 10px;
  background: #021233;
  color: white;
}

.letterHolder{
  margin: 0 auto;
  text-align: center;
  width: 920px;
}

@media only screen and (max-width: 920px) {
  .letterHolder{
    width: 700px;
  }
}
@media only screen and (max-width: 750px) {
  .letterHolder{
    width: auto;
  }
}
@media only screen and (max-width: 480px) {
  .container-fluid#mainContent {
    padding-left: 0px;
    padding-right: 0px;
  }
  .dathumbsContainer{
    margin:0px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}