my-modal .hasNav .modal-header .nav{
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: -1px;
}
my-modal .hasNav .modal-header{
  padding-bottom: 0px;
}

.fullmodal .modal-dialog{
  /*width: 80%;*/
  min-width: 50%;
  width: 910px;
}

@media only screen and (max-width: 950px) {
  .fullmodal .modal-dialog{
    min-width: auto;
    width: 100%;
  }
}
